<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
    xmlns:security="http://www.springframework.org/schema/security"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	   		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
			http://www.springframework.org/schema/security 
			http://www.springframework.org/schema/security/spring-security-3.0.xsd">
	
	<!--  Spring-Security 的配置 -->
	<!-- 注意开启use-expressions.表示开启表达式.
	see:http://www.family168.com/tutorial/springsecurity3/html/el-access.html
	 -->
	<security:http auto-config="true" use-expressions="true" access-denied-page="/auth/denied" >
		<security:remember-me token-validity-seconds="2419200" />
		<security:intercept-url pattern="/bbk.htm" access="permitAll"/>
		<security:intercept-url pattern="/admin/*" access="hasRole('ROLE_ADMIN')"/>
		
		<security:form-login
				login-page="/bbk.htm" 
				
				authentication-failure-url="/bbk.htm?error=true" 
				default-target-url="/admin/mainPage.htm"/>
			
		<security:logout 
				invalidate-session="true" 
				logout-success-url="/bbk.htm" 
				logout-url="/admin/logout"/>
	
	</security:http>
	<security:authentication-manager>
	        <security:authentication-provider user-service-ref="userServiceImpl">
	        		<security:password-encoder hash="md5">  
         				<!-- 将每个用户的username作为盐值 -->  
         				<security:salt-source system-wide="d@sd{0!"/>
     				</security:password-encoder>  
	        </security:authentication-provider>
	</security:authentication-manager>
	
	<!-- 对密码进行MD5编码 -->
	<bean class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" id="passwordEncoder"/>
	<!-- <bean id="userService" class="com.xidian.service.impl.UserServiceImpl"/> -->
	<!-- <security:user-service id="userService">
 		<security:user name="fantasy" password="111" authorities="ROLE_ADMIN"/>
 	</security:user-service> -->
</beans>

